html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}
body {
    font-family: 'Dosis', sans-serif;
    font-family: 'Nunito', sans-serif;
    max-width: 1400px;
    max-height: 700px;
}

.navbar {
    background-color: green;
} 